body {
	background-color: #fcfcfc;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

.main-body {
    min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	background-color: white;
	border: 1px solid black !important;
}

label {
	font-weight: 500;
    font-size: 0.9rem;
}

input[type="text"] {
	border: 1px solid black;
	border-radius: 3px;
}

input[type="button"] {
    background-color: #0091ea;
    border-radius: 3px;
    color: white;
    font-size: 1.1rem;
}

input[type="button"]:hover {
	background-color: #00b0ff;
	color: white;
}